# Python / Flask
__pycache__/
*.py[cod]
venv/
src/venv/
backend/venv/
*.db
*.sqlite3
*.log
instance/

# Heavy artifacts
backend/models/
backend/data/
backend/__pycache__/
backend/src/*.db

# Node / React
node_modules/
dist/
build/
.vite/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
